
<section id="section1" class="topOff">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body colorfullPanel text-center">
                        <h3>Upp to %15 off</h3>
                        <h2>
                            <span>June</span> Special Offer
                            <img class="classic" src="img/new/icon.png">
                        </h2>
                        <p>15% discount for the ne users....</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="panel panel-default colorfullParent">
                    <div class="panel-body colorfullPanel text-center">
                        <h3>Are You New Here?</h3>
                        <h2>
                            <span>Learn</span> About Us
                            <img class="classic" src="img/new/icon.png">

                        </h2>
                        <p>Cake doesn't ask silly questions, Cake understand</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body colorfullPanel text-center">
                        <h3>Are You New Here?</h3>
                        <h2>
                            <span>Learn</span> About Us
                            <img class="classic" src="img/new/icon.png">
                        </h2>
                        <p> Since 1967, tasty and yummy for all.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <div class="maintext text-center">
                    <span>Serve You Since 1967</span>
                    <h2>Welcome To Aruna Bakery</h2>
                    <p>Feeling downie, eat brownie.</p>
                </div>
            </div>
        </div>
        <div class="row shapes">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-md-12 minHeightProp">
                        <img class="imgback" src="img/shape/shape1.png">
                    </div>
                    <div class="col-md-12">
                        <div class="text-center">
                            <span>Serve You Since 1967</span>
                            <p>Fresh juice and cakes makes your day better. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-md-12 minHeightProp">
                        <img class="imgback" src="img/shape/shape2.png">
                    </div>
                    <div class="col-md-12">
                        <div class="text-center">
                            <span>Serve You Since 1967</span>
                            <p>Count the memory , not the calories</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-md-12 minHeightProp">
                        <img class="imgback" src="img/shape/shape3.png">
                    </div>
                    <div class="col-md-12">
                        <div class="text-center">
                            <span>Serve You Since 1967</span>
                            <p>there's bread for every thought. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="banner"
         style="background-image: url('img/new/1170x268.jpg'); height:600px">
        <div class="content text-center">
            <!-- <span></span> -->
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <h2 style="color:black;">Fresh Juice</h2>
            <h3 style="color:yellow;">SHOP NOW</h3>
            <img class="classic" src="img/new/icon.png">
        </div>
    </div>
</div>

<section id="section3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <h3>Premium Quality</h3>
                    <h2>Aruna Bakery Fresh Cakes</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-md-12 noPadding">
                    <div id="news-slider" class="news-slider owl-theme owl-carousel">
                        <div class="post-slide">
                            <div class="post-img">
                                <div class="post-abs"><p style="color:blue;">Vennila with chocolate</p></div>
                                <img src="img/new/cake_1.jpeg" alt="">
                            </div>
                            <h3 class="post-title"><a href="#">Vennila with chocolate coating</a></h3>
                            <p class="post-description">
                                120$
                            </p>
                        </div>
                        <div class="post-slide">
                            <div class="post-img">
                                <div class="post-abs"><p style="color:blue;">Staberry piece cakes</p></div>
                                <img src="img/new/cake_2.jpg" alt="">
                            </div>
                            <h3 class="post-title"><a href="#">Staberry cream cakes</a></h3>
                            <p class="post-description">
                                83$
                            </p>
                        </div>
                        <div class="post-slide">
                            <div class="post-img">
                                <div class="post-abs"><p style="color:blue;">brownie</p></div>
                                <img src="img/new/cake_3.jpeg" alt="">
                            </div>
                            <h3 class="post-title"><a href="#">Brownie</a></h3>
                            <p class="post-description">
                                280$
                            </p>
                        </div>
                        <div class="post-slide">
                            <div class="post-img">
                                <div class="post-abs"><p style="color:blue;">Butter cakes</p></div>
                                <img src="img/new/cake_4.jpeg" alt="">
                            </div>
                            <h3 class="post-title"><a href="#">Butter cake</a></h3>
                            <p class="post-description">
                                130$
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<section id="section4" class="parallax-window" data-parallax="scroll" data-image-src="img/slider/1900x1000.png">
    <h3>What We Say</h3>
    <h2>Customer Testimonial</h2>
    <div class="testimonial-area owl-theme owl-carousel">
        <div class="col-md-12 col-sm-12 col-xs-12 noPadding text-center">
            <div class="single-testimonial">
                <div class="testimonial-info">
                    <div class="testimonial-content">
                        <p>Each creations tells you a story and i'm here to savor every chapter, A bakery is where dreams rise and delicious memories are made.</p>
                        <h4>David Morgan</h4>
                        <h5>Aruna Bakery</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 noPadding text-center">
            <div class="single-testimonial">
                <div class="testimonial-info">
                    <div class="testimonial-content">
                        <p>Bakery treasure that bring joy o every taste buds, the aroma of freshly baked breads is a language of its own.</p>
                        <h4>Krishanan</h4>
                        <h5>Aruna Bakery</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 noPadding text-center">
            <div class="single-testimonial">
                <div class="testimonial-info">
                    <div class="testimonial-content">
                        <p>Bread is the king of the table and all else is merly the court that surrounds the king.</p>
                        <h4>Hari</h4>
                        <h5>Aruna Bakery</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section5" class="blog-area">
    <div class="row">
        <div class="col-xs-12">
            <div class="blog-section-title text-center">
                <h3>Aruna Bakery Blog</h3>
                <h2>Our Latest News</h2>
            </div>
        </div>
        <div class="row">
            <div class="container blog-section">
                <div class="col-md-6">
                    <div class="row">
                        <div class="blog-section-date col-md-4 col-sm-4 col-xs-12 noPadding">
                            <p class="month">June</p>
                            <p class="date">6.6.1967</p>
                        </div>
                        <div class="blog-section-description col-md-8 col-sm-8 col-xs-12 noPadding">
                            <h2>I must explain to you how all this dream happens. </h2>
                            <p>Baking is like ahing -- the results are equally temporary</p>
                            <a href="">Shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="blog-section-date col-md-4 col-sm-4 col-xs-12 noPadding">
                            <p class="month">June</p>
                            <p class="date">6.6.1967</p>
                        </div>
                        <div class="blog-section-description col-md-8 col-sm-8 col-xs-12 noPadding">
                            <h2>I must explain to you how all this dream happens </h2>
                            <p>Cooking and baking is both physical and mental therapy</p>
                            <a href="">Shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section7" class="row address parallax-window" data-parallax="scroll" data-image-src="img/slider/1900x1000.png">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5 col-md-offset-1 addess-description">
                <span>ArunaBakery Location</span>
                <h2>ArunaBakery Address</h2>
                <p>The smell of good bread baking like the sound of lighty flowing water is indescribable in its evocation of innocennce and delight.</p>
                <ul>
                    <li class="address-section">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10 lineHeight">
                                Primary:arunabakery@yaahoo.com<br>Second:arunabakerycreatory@gmail.ccom
                            </div>
                        </div>
                    </li>
                    <li class="address-section">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10 lineHeight">
                                Primary: 91+ 98705 98705<br>Second: 91+ 95432 95432
                            </div>
                        </div>
                    </li>
                    <li class="address-section">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10 lineHeight">
                                Primary:ArunaBakery<br>Second:ArunaBakery
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 addess-map">
                <div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31251.345829735823!2d78.9499798628756!3d11.73555851255037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bab66e5dfc2508d%3A0xb773491d8d92cdff!2sKallakurichi%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1726595969456!5m2!1sen!2sin" width="585" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div>
        </div>
    </div>
</section>
<footer class="footer-area">
    <div class="container main-footer">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-widget pr-60">
                    <div class="footer-logo pb-25">
                        <div class="col-md-4 noPadding text-center">
                            <a class="" href="index.html"><img class="img-responsive" src="img/logo/cemrebakerylogo.png" alt="restorant" /></a>
                        </div>
                        <div class="col-md-8 noPadding logo-text">
                            <p class="colorfullText;" style=" color:black;font-width:300px;font-size:20px">Aruna <p style=" color: yellow; font-width: 300px; font-size: 20px">Bakery</p> Store</p>
                        </div>
                    </div>
                    <p>if your are trying to create a company, it's like baking a cake. you have have all the ingredients in the righ proportion.</p>
                    <div class="footer-social">
                        <ul class="list-group">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-widget">
                    <h3>information</h3>
                    <p class="lock"></p>
                    <ul>
                        <li class="footer-section">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2 text-center">
                                    <div class="footer-icon"></div>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <a href=""><p>About Our Shop</p></a>
                                </div>
                            </div>
                        </li>
                        <li class="footer-section">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <div class="footer-icon"></div>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <a href=""><p>Top Sellers</p></a>
                                </div>
                            </div>
                        </li>
                        <li class="footer-section">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <div class="footer-icon"></div>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <a href=""><p>Our Blog</p></a>
                                </div>
                            </div>
                        </li>
                        <li class="footer-section">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <div class="footer-icon"></div>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <a href=""><p>New Products</p></a>
                                </div>
                            </div>
                        </li>
                        <li class="footer-section">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <div class="footer-icon"></div>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <a href=""><p>Secure Shopping</p></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-widget">
                    <h3>useful links</h3>
                    <p class="lock"></p>
                    <ul>
                        <li class="footer-section">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <div class="footer-icon"></div>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <a href=""><p>About Our Shop</p></a>
                                </div>
                            </div>
                        </li>
                        <li class="footer-section">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <div class="footer-icon"></div>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <a href=""><p>Top Sellers</p></a>
                                </div>
                            </div>
                        </li>
                        <li class="footer-section">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <div class="footer-icon"></div>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <a href=""><p>Our Blog</p></a>
                                </div>
                            </div>
                        </li>
                        <li class="footer-section">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <div class="footer-icon"></div>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <a href=""><p>New Products</p></a>
                                </div>
                            </div>
                        </li>
                        <li class="footer-section">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <div class="footer-icon"></div>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <a href=""><p>Secure Shopping</p></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-widget">
                    <h3>get in touch</h3>
                    <p class="lock"></p>
                    <p>Your address goes here, Street<br>City, Road no 786 chennai</p>
                    <p>+880  548  986  898  87<br>+880  659  785  658  98</p>
                    <ul>
                        <li class="address-section">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <i class="fa fa-address-card"></i>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10 single-widget-description noPadding">
                                    <span>Primary:arunabakery@yaahoo.com</span>
                                </div>
                            </div>
                        </li>
                        <li class="address-section">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10 single-widget-description noPadding">
                                    <span>Primary:91+ 95432 95432</span>
                                </div>
                            </div>
                        </li>
                        <li class="address-section">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10 single-widget-description noPadding">
                                    <span>Primary:Aruna bakery</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Copyright © <a href="https://cemrethemes.com" target="_blank">Aruna bakery</a> 2024. All Right Reserved By Aruna Bakery</p>
                </div>
            </div>
        </div>
    </div>
</footer>